In [3]:
import pandas as pd
import seaborn as sb
import statistics as st
import numpy as np
import random as rd

In [18]:
df = pd.read_csv(r'C:\Users\brayn\Documents\Analise de dados\Data Science\Bases da dados\Assinaturas de jornais\Journals.csv')
df.columns = ['','Titulo','Editora','sociedade','Preço','Paginas','Charpp','Citações','Ano de fundação','Subs','Assunto']
df.head()

,,Titulo,Editora,sociedade,Preço,Paginas,Charpp,Citações,Ano de fundação,Subs,Assunto
0,APEL,Asian-Pacific Economic Literature,Blackwell,no,123,440,3822,21,1986,14,General
1,SAJoEH,South African Journal of Economic History,So Afr ec history assn,no,20,309,1782,22,1986,59,Economic History
2,CE,Computational Economics,Kluwer,no,443,567,2924,22,1987,17,Specialized
3,MEPiTE,MOCT-MOST Economic Policy in Transitional Econ...,Kluwer,no,276,520,3234,22,1991,2,Area Studies
4,JoSE,Journal of Socio-Economics,Elsevier,no,295,791,3024,24,1972,96,Interdisciplinary

In [ ]:
df.shape

In [17]:
# DIVIDIR QUANTIDADE DE CONJUNTO DE DADOS COM A QUANTIDADE DE GRUPOS QUE EU QUERO OU PRECISO.
len(df) // 6

# CRIAR VARIAVEIS COMO: 
# - LISTA VAZIA (grupos = []) --> ONDE IREMOS ADICIONAR OS CLUSTERS/GRUPOS (append()).'
# id_grupo = 0 --> ONDE IREMOS LIMITAR A QUANTIDADE DE CLUSTER/GRUPOS (IGUAL A 0).
# id_contagem = 0 --> ONDE IREMOS LIMITAR A CONTAGEM (IGUAL A 0).
grupos = []
id_grupo = 0
contagem = 0

# CRIAR ESTRUTURA DE REPETIÇÃO 'for' USANDO A FUNÇÃO .iterrows() PARA VISITAR LINHA A LINHA E
# EXECUTAR AÇÕES EM CADA VALOR (LINHA POR LINHA).
for _ in df.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > 30:
        contagem = 0
        id_grupo += 1

# VERIFICAR A QUANTIDADE DE GRUPOS FEITOS PARA QUE POSSAMOS VALIDAR OS CODIGOS QUE CRIAMOS
# DENTRO DA ESTRUTURA 'for' e iterrows().
np.unique(grupos, return_counts = True)
print(grupos)

# ADICIONAR A COLUNAS GRUPOS, PARA CONTABILIZAR CADA CONJUNTO EM SEU GRUPO
df['grupos'] = grupos
df.head()

# ESCOLHENDO DE FORMA ALEATÓRIA/RANDÔMICA O GRUPO A SER ESTUDADO
rd.seed(1)
rd.randint(0,5)

# CHAMENDO O GRUPO SELECIONADO
df_group = df[df['grupos'] == 1]
df_group.head()

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

,,Titulo,Editora,sociedade,Preço,Paginas,Charpp,Citações,Ano de fundação,Subs,Assunto,grupos
31,IO,International Organization,MIT,no,130,814,3024,69,1947,532,Industrial Organization,1
32,CPP,Canadian Public Policy,University of Toronto Press,no,100,714,2248,75,1975,52,Public Finance,1
33,DvE,Developing Economies,Inst of Devel Econ,no,80,539,3345,76,1963,87,Development,1
34,JoHoEc,Journal of Housing Economics,Academic Press,no,235,330,2623,78,1982,27,Specialized,1
35,JoEB,Journal of Economics & Business,Elsevier,no,392,563,3456,80,1948,291,Business,1

In [10]:
len(df) // 3

60

In [11]:
grupo2 = []
id_group2 = 0
contador2 = 0

In [15]:
for _ in df.iterrows():
    grupo2.append(id_group2)
    contador2 += 1
    if contador2 > 60:
        contador2 = 0
        id_group2 += 1

In [16]:
np.unique(grupo2),

array([0, 1, 2])